@CHARSET "UTF-8";

div.postbox-container {
	float: none;
	padding: 0;
	min-width: 650px;
	width: 100%;
}

div.postbox div.inside {
	margin: 14px 18px 18px;
	position: relative;
}

.wpsho-report ul {
	list-style: disc;
	list-style-position: inside;
}

.wpsho-report ul li {
	padding-left: 2em;
}

.wpsho-export-log {
	height: 200px;
	overflow: auto;
	border: 1px solid #DFDFDF;
	color: #000;
	background: #fff;
	margin: 0 0 15px;
	padding: 3px 4px;
	width: 95%;
}

#exportStatus {
    width: 100%;
}

#donateText {
    font-size: 23px;
    line-height: 32px;
    display: none;
}

#progress {
    margin-right: 30px;
    display: none;
    float: left;
}
