.*
!.editorconfig
!.envrc
!.github
!.gitignore
!.htaccess

/integration-tests/bedrock/
/integration-tests/mariadb/data/
/integration-tests/wordpress/
/vendor/
/vendor_prefixed/
node_modules/
coverage/
admin/*.js*
*.pid
result
result-*
