/integration-tests/bedrock/
/integration-tests/mariadb/data/
/integration-tests/wordpress/
/vendor/
/vendor_prefixed/
.calva/
.clj-kondo/
.cpcache/
.direnv/
.lsp/
node_modules/
coverage/
admin/*.js*
*.pid
.envrc
.nrepl-port
.phpunit.result.cache
result
result-*
