{:paths ["clj"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/tools.logging {:mvn/version "1.1.0"}
        com.stuartsierra/component {:mvn/version "1.0.0"}
        etaoin/etaoin {:mvn/version "0.4.6"}
        popen/popen {:mvn/version "0.3.1"}}}
