a[href*="wp2static-try-1-click-publish"], .try-1-click-publish-menu-item {
  color: white;
  background-color: #FB4247;
  font-weight: bold; 
}

#wp2static-try-1-click-publish-plugin-screen {
  color: #FB4247;
  font-weight: bold;
}

.wp2static-admin-notice {
  margin-left: 2px;
  margin-right: 36px;
  margin-top: 20px;
  margin-bottom: -7px;
  padding-top: 10px;
}
