a[href*="wp2static-try-1-click-publish"], .try-1-click-publish-menu-item {
  color: white !important;
  background-color: #FB4247;
  font-weight: bold; 
}

.try-1-click-publish-menu-item:hover {
  color: #FB4247 !important;
  background-color: white !important;
  font-weight: bold; 
}

#wp2static-try-1-click-publish-plugin-screen {
  color: #FB4247;
  font-weight: bold;
}

.wp2static-admin-notice {
  margin-left: 2px;
  margin-right: 36px;
  margin-top: 20px;
  margin-bottom: -7px;
  padding-top: 10px;
}

.wp2static-admin-notice a .button-primary {
  margin-bottom: 10px;
  margin-right: 10px;
}

a[id*="wp2static-admin-notice-dismiss"] {
  display: block;
  float: right;
  margin-top: -75px;
  text-decoration: none;
}

#wp2static-admin-notice-nonce, #wp2static-admin-notice-user-id {
  display: none;
}

.strattic-logo {
  margin-bottom: -5px;
  padding-right: 5px;
}
