@CHARSET "UTF-8";

button {
  cursor: pointer;
}

.wrap.wp2static {
  padding: 20px 10px;
}

.wrap.wp2static p {
  font-size: 14px;
}

.wp2static-content-wrapper {
  margin-top: 1em;
}

.wp2static-content {
  background: #fff;
  padding: 3.5em 3em 4em;
  box-shadow: 0 0 0 1px rgba(213, 213, 213, 0.5), 0 1px 2px #eee;
}

.wp2static-textarea {
  height: 183px;
  padding: 10px;
  border-spacing: 0;
  width: 100%;
  clear: both;
  margin: 0;
}

.nav-tab-wrapper {
  background: #fff;
  box-shadow: 0 1px 0 rgba(213,213,213,0.5), 0 1px 2px #eee;
  border: none;
  padding: 10px;
}

.nav-tab {
  float: left;
  border: none;
  border-bottom: none;
  margin-left: .5em;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 1.71428571;
  font-weight: 600;
  background: #fff;
  color: #555;
  text-decoration: none;
  white-space: nowrap;
}

.nav-tab-active {
  background: #eee;
}

.wp2static-flex {
  display: flex;
  flex-wrap: wrap;
}

.wp2static-flex .content {
  flex: 1;
}

.wp2static-flex .content {
  padding-right: 10px;
}

.wp2static-flex .content+.content {
  padding-left: 10px;
  padding-right: 0;
}

.wp2static-flex span.description {
  display: block;
  margin-top: 10px;
}

.wp2static-btn {
  background: #eee;
  border: none;
  border-radius: 2px;
  padding: 10px 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  color: #444;
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  outline: 0;
  transition: .15s ease-in-out;
}

.wp2static-btn:hover {
  background: #444;
  color: #fff;
}

.wp2static-btn:focus {
  box-shadow: none;
}

.wp2static-btn+.wp2static-btn {
  margin-left: 10px;
}

.wp2static-btn.blue {
  background: #4285f4;
  color: #fff;
}

.wp2static-btn.blue:hover {
  background: #2976f5;
}

.wp2static-btn.pink {
  background: #e56285;
  color: #fff;
}

.wp2static-btn.pink:hover {
  background: #dd4970;
}

.btn-lg {
  padding: 12px 18px;
  font-size: 15px;
  font-weight: 500;
}

.btn-sm {
  padding: 5px 8px;
}

.wp2s-form .control {
  margin-top: 10px;
}

.content pre {
  margin-left: -4em;
}

.postbox p, li {
  font-size: 1em;
  line-height: 1.375em;


}

#downloadZIP {
    display: none;
}

.intro-text {
    font-size: large;
}

div.postbox-container {
    float: none;
    padding: 0;
    min-width: 650px;
    width: 100%;
}

div.postbox div.inside {
    margin: 14px 18px 18px;
    position: relative;
}

.wpsho-report ul {
    list-style: disc;
    list-style-position: inside;
}

.wpsho-report ul li {
    padding-left: 2em;
}

.wpsho-export-log {
    height: 200px;
    overflow: auto;
    border: 1px solid #DFDFDF;
    color: #000;
    background: #fff;
    margin: 0 0 15px;
    padding: 3px 4px;
    width: 95%;
}

#exportStatus {
    width: 100%;
}

#progress {
    display: none;
}

#progress-container {
  min-height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
}

.error-help-text {
  display: none;
  padding-bottom: 25px;
}

.warning {
  background-color: #ffe7b7;
}


@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

.pulsate-css {
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
    opacity: 0.0;

    border: 3px solid #999;
    border-radius: 30px;
    height: 18px;
    width: 18px;
    position: relative;
    display: inline-block;
    margin-top: 0px;
    margin-right: 10px;
    text-align: center;
    float: left;
}

#current_action {
  padding-top: 3px;
  font-size: 14px;

}

.btn-call-to-action {
  background-color: #37CD49 !important;
  color: #fff !important;
  margin-left: 10px;
}

.btn-call-to-action:hover, .btn-call-to-action:focus {
  background-color: #32B741 !important;
}

.cancelExportButton {
  background-color: #F5B958;
  color: #fff;
}

.cancelExportButton:hover, .cancelExportButton:focus {
  background-color: #E7A73F;
}

p.submit{
  margin-top: 0px !important;
}

#netlify_test_results {
  line-height: 28px;
  margin-left: 10px;
}

.spinner {
  float:none;width:auto;height:auto;padding:10px 0 10px 50px;
}

/* 86% when full sidebar, needs to grow otherwise */
#wp2static-footer {
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  position: fixed;
  bottom: 0;
  border-top: 1px solid #ddd;
  min-height: 110px;
  margin-left: -20px;
  padding-left: 30px;

}

.wrap.wp2static {
  padding-bottom: 100px;
}

#wpfooter {
  display: none;
}

#pbar-container {
  background-color: #F7F7F7;
  width: 100%;
  display: block;
  min-height: 30px;
  margin-bottom: 20px;
  position: relative;
}

#pbar-fill {
  background-color: #C1C1C1;
  width: 0%;
  min-height: 30px;
  position: absolute;
  top: 0;
  left: 0;
}

#export_timer {
  display: inline;
}

#detectionOptionsTable td {
  padding: 0;
}

#detectionOptionsTable {
  margin-top: 10px;
}

.no-tb-bs {
  box-shadow: 0 0 0 0px rgba(213, 213, 213, 0.5), 0 1px 2px #eee;
}

.pd-top0 {
  padding-top: 0;
}

.mg-top10 {
  margin-top: 10px;
}

.wp2static-flex select {
  margin-top: 15px;
}

.wp2static-flex fieldset {
  margin-top: 20px;
}

.wp2s-header {
  margin: 10px 0;
}

.wp2static-column {
  float: left;
  width: calc(33.3% - 20px);
  margin: 0 10px 15px;
}

.wp2static-content-addon {
  margin: 15px -10px;
}

.wp2static-content-addon:after {
  content: "";
  display: table;
  clear: both;
}

.addon img.hero {
  max-width: 120px;
  min-width: 120px;
  max-height: 120px;
  min-height: 120px;
}

.addon {
  background: #fff;
  box-shadow: 0 0 0 1px rgba(213, 213, 213, 0.5), 0 1px 2px #eee;
  min-height: 29em;
  max-height: 29em;
}

.addon .main {
  text-align: center;
  padding: 30px;
}

.addon .main p {
  max-height: 3em;
  min-height: 3em;
}

.addon .bottom {
  border-top: 2px solid #666;
  display: flex;
  padding: 10px 15px;
}

.addon .bottom .left {
  width: 50%;
}

.addon .bottom .right {
  text-align: right;
  width: 50%;
}

.addon .bottom .right img {
  margin-top: 5px;
}

.addon.noactive .bottom {
  background: #fafafa;
}

.addon.active {
  background: linear-gradient(to right, rgb(194, 253, 242) 0%, rgb(216, 255, 180) 100%);
}

.text-center {
  text-align: center;
}

.lead {
  font-size: 20px!important;
}

img.welcome {
  max-width: 275px;
}

@media screen and (max-width: 600px) {
  .wp2static-column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 782px) {
  .wp2static-column {
    width: calc(50% - 20px);
  }

  .add_ons .wp2static-flex .content {
    flex: unset;
  }
}

