.fs-modal-auto-install
{
    $max-width: 300px;

    #request-filesystem-credentials-form
    {
        h2,
        .request-filesystem-credentials-action-buttons
        {
            display: none;
        }

        input[type=password],
        input[type=email],
        input[type=text]
        {
            -webkit-appearance: none;
            padding:            10px 10px 5px 10px;
            width:              $max-width;
            max-width:          100%;
        }

        > div,
        label,
        fieldset
        {
            width:     $max-width;
            max-width: 100%;
            margin:    0 auto;
            display:   block;
        }
    }
}