.fs-modal.fs-modal-license-key-resend
{
    .email-address-container
    {
        overflow:      hidden;
        padding-right: 2px;
    }

    &.fs-freemium
    {
        input.email-address
        {
            width: 300px;
        }

        label
        {
            display:       block;
            margin-bottom: 10px;
        }
    }

    &.fs-premium
    {
        input.email-address
        {
            width: 100%;
        }

        .button-container
        {
            float:       right;
            margin-left: 7px;

            @media (max-width: 650px) {
                margin-top: 2px;
            }
        }
    }
}

.rtl
{
    .fs-modal.fs-modal-license-key-resend
    {
        .fs-modal-body
        {
            .input-container > .email-address-container
            {
                padding-left:  2px;
                padding-right: 0;
            }

            .button-container
            {
                float:        left;
                margin-right: 7px;
                margin-left:  0;
            }
        }
    }
}

a.show-license-resend-modal
{
    margin-top: 4px;
    display:    inline-block;
}
