{:paths ["clj" "test"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/tools.logging {:mvn/version "1.1.0"}
        com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                   :sha "dd6da11611eeb87f08780a30ac8ea6012d4c05ce"}
        com.github.seancorfield/honeysql {:mvn/version "2.1.818"}
        com.github.seancorfield/next.jdbc {:mvn/version "1.2.731"}
        com.stuartsierra/component {:mvn/version "1.0.0"}
        commons-codec/commons-codec {:mvn/version "1.15"}
        etaoin/etaoin {:mvn/version "0.4.6"}
        hashp/hashp {:mvn/version "0.2.1"}
        org.mariadb.jdbc/mariadb-java-client {:mvn/version "2.7.4"}
        popen/popen {:mvn/version "0.3.1"}}
 :aliases {:dev-server {:main-opts ["-m" "wp2static-test.main"]}
           :test {:exec-fn wp2static-test.test/test}}}
