{:paths ["clj" "test"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/tools.logging {:mvn/version "1.2.4"}
        com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                   :sha "a85b3b02765fb68684ab9ee4a8598eacf7e471d2"}
        com.github.seancorfield/honeysql {:mvn/version "2.3.911"}
        com.github.seancorfield/next.jdbc {:mvn/version "1.2.796"}
        com.stuartsierra/component {:mvn/version "1.1.0"}
        commons-codec/commons-codec {:mvn/version "1.15"}
        etaoin/etaoin {:mvn/version "1.0.38"}
        hashp/hashp {:mvn/version "0.2.1"}
        org.mariadb.jdbc/mariadb-java-client {:mvn/version "3.0.7"}
        popen/popen {:mvn/version "0.3.1"}}
 :aliases {:dev-server {:main-opts ["-m" "wp2static-test.main"]}
           :test {:exec-fn wp2static-test.test/test}}}
